<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Confirmit Public REST API - Demo</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
  <header class="header">

  </header>

  <div id="toaster" class="toaster" aria-live="polite">{{ result }}</div>

  <main>
    <section aria-labelledby="title1" class="section">

      <h1 id="title1" class="section__title">This is our fake pet insurance company!</h1>
      <div class="section__text">
        <p>With Fake Insurance you can have the best medical care possible. Our top-rated insurance plans cover accidents, illnesses, cancer, emergency care, genetic conditions, and alternative care such as chiropractic care and acupuncture.</p>
        <p>We love our animals. Everything we do is driven from this and our commitment to your pet's health. Our plans cover new accidents and illnesses and it makes it easy to help protect you and your pet with a pet insurance plan this easy to understand.</p>
      </div>

      <div class="section__row">
        <div role="form" class="clientform" aria-labelledby="lbl1">
          <div class="clientform__overlay"></div>
          <fieldset>
            <h2 id="lbl1">Find Out More!</h2>
            <label for="rdg1" class="clientform__label">Which offering are you interested in?</label>
            <div role="radiogroup" id="rdg1" class="clientform__radiogroup js-clientform__radiogroup" aria-required="true">
              <div role="radio" data-options="1" class="clientform__radio" aria-checked="false" tabindex="0">Emergency Coverage Protection</div>
              <div role="radio" data-options="2" class="clientform__radio" aria-checked="false" tabindex="-1">Health and Wellness Package</div>
            </div>
            <div id="err1"></div>
            <label for="txt1" class="clientform__label">What is your email?</label>
            <input type="text" id="txt1" class="clientform__text" aria-required="true" maxlength="30">
            <div id="err2"></div>
            <button type="button" id="btn1" class="clientform__button js-clientform__button">Submit</button>
          </fieldset>
        </div>

        <div class="subsection">
	  <h3>How does it work?</h3>
	  <img src="https://author.us.confirmit.com/isa/BDJPFRDMEYBPBKLVADAYFQCDAVIOEQJR/BrianL/roux.jpg" alt="a happy dog"/>
          <p>Our pet insurance doesn’t limit you to a network, so you’ll have peace of mind knowing you can visit any vet. File a claim in three easy steps: Get treated, File a Claim, Get Reimbursed. We offer an app for iOS and Android that you can use to file and track your claims and stay organized.</p>
          <div class="subsection__inner">
            <p>It's that simple. Get started today!</p>
          </div>
        </div>
      </div>

    </section>
  </main>

  <footer class="footer">Coverage subject to terms and conditions, less any applicable policy limits. Policy terms and conditions may vary by state &copy;2020 Fake Pet Insurance Company
  </footer>


  <script src="{{ url_for('static', filename='clientform.js') }}"></script>
</body>
</html>
