<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Confirmit Public REST API - Surveys API</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <br>
    <div>
	<p><strong>Surveys</strong>: Everything concerning surveys.</p>
	<pre>
            GET /v1/surveys/
	    GET /v1/surveys/{surveyId}
	</pre>
	<p><strong>Respondents</strong>: Everything concerning respondents.</p>
	<pre>
	    GET+POST+PATCH   /v1/surveys/{surveyId}/respondents
	    GET+DELETE+PATCH /v1/surveys/{surveyId}/respondents/{respid}
	</pre>
	<p><strong>Survey Data</strong>: Everything concerning survey data reading.</p>
	<pre>
	    GET /v1/surveys/{surveyId}/responses/schema
	    GET /v1/surveys/{surveyId}/responses/data
	</pre>
	<p><strong>Variables</strong>: Everything concerning respondent variables.</p>
	<pre>
            GET+POST /v1/surveys/{surveyId}/variables
	    GET      /v1/surveys/{surveyId}/variables/{name}
	</pre>
    </div> 
    <br><br>
    <div>
	<p><strong>End Points</strong></p>
	<ul>
        <li>US</li>
	    <ol>
              <li>https://idp.us.confirmit.com/identity/connect/authorize</li>
	      <li>https://ws.us.confirmit.com/</li>
	    </ol>
	<li>EURO</li>
	    <ol>
              <li>https://idp.euro.confirmit.com/identity/connect/authorize</li>
	      <li>https://ws.euro.confirmit.com/</li>
	    </ol>
	 <li>NORDIC</li>
	    <ol>
	      <li>https://idp.nordic.confirmit.com/identity/connect/authorize</li>
	      <li>https://ws.nordic.confirmit.com/</li>
	    </ol>
	 <li>TESTLAB</li>
	    <ol>
	      <li>https://idp.testlab.firmglobal.net/identity/connect/authorize</li>
	      <li>https://ws.testlab.firmglobal.net</li>
	    </ol>
	</ul>
    </div>
    <br><br>
</body>
</html>
