<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Confirmit Public REST API - Surveys API</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <style>
    body { margin-left: 14px; margin-top: 14px; }
    ol { padding-bottom: 10px; }
    li { padding-bottom: 4px; }
    .container { 
      display: flex; 
      flex-wrap: wrap; 
    }
    .section { 
      max-width: 530px; 
      min-width: 200px;
      padding: 12px;
    }
    .section__results {
      padding-left: 12px; 
      font-family:monospace; 
      word-break:break-word;
    }
  </style>
</head>

<body>
  
  <h1>Confirmit Public REST API - Surveys API</h1>
  <p><a href="https://restful-respondent.herokuapp.com/demo">click here for a demo</a></p>

  <div class="container">
	  
    <div id="info1" class="section">
	<h2>Verbs and Resources</h2>
	<div><p>Reference the Confirmit Docs page for complete information. Confirmit Docs exists inside every Horizons site e.g. for <a href="https://ws.nordic.confirmit.com/docs/public-apis/current/index.html" target="_blank">Nordic</a> or the <a href="https://ws.us.confirmit.com/docs/public-apis/current/index.html" target="_blank">US</a> site, etc...</p></div>
	<p><strong>Surveys</strong>: Everything concerning surveys. (GA)</p>
	<pre>
 GET /v1/surveys/
 GET /v1/surveys/{surveyId}
	</pre>
	<p><strong>Respondents</strong>: Everything concerning respondents. (GA)</p>
	<pre>
 GET+POST+PATCH   /v1/surveys/{surveyId}/respondents
 GET+DELETE+PATCH /v1/surveys/{surveyId}/respondents/{respid}
	</pre>
	<p><strong>Survey Data</strong>: Everything concerning survey data reading. (LA)</p>
	<pre>
 GET /v1/surveys/{surveyId}/responses/schema
 GET /v1/surveys/{surveyId}/responses/data
	</pre>
	<p><strong>Variables</strong>: Everything concerning respondent variables. (Preview?)</p>
	<pre>
 GET+POST /v1/surveys/{surveyId}/variables
 GET      /v1/surveys/{surveyId}/variables/{name}
	</pre>
    </div>

    <div id="info2" class="section">
	<h2>End Points</h2>
	<div><p>To reach end points, our clients will need an API professional user that has a client id and client secret tied to it. For the Surveys API, the pub.surveys scope must be defined when generating the client id and secret.</div></p>
	<ul>
          <li>US</li>
	    <ol>
              <li>https://idp.us.confirmit.com/identity/connect/token</li>
	      <li>https://ws.us.confirmit.com/</li>
	    </ol>
	  <li>EURO</li>
	    <ol>
              <li>https://idp.euro.confirmit.com/identity/connect/token</li>
	      <li>https://ws.euro.confirmit.com/</li>
	    </ol>
	  <li>NORDIC</li>
	    <ol>
	      <li>https://idp.nordic.confirmit.com/identity/connect/token</li>
	      <li>https://ws.nordic.confirmit.com/</li>
	    </ol>
	  <li>TESTLAB</li>
	    <ol>
	      <li>https://idp.testlab.firmglobal.net/identity/connect/token</li>
	      <li>https://ws.testlab.firmglobal.net</li>
	    </ol>
	</ul>
    </div>

    <div id="info3" class="section">
	<h2>Test Results</h2>
	<div><p><strong>Request</strong></p></div>
	<p class="section__results">{{ result[0] }}</p>
	<div><p><strong>Response</strong></p></div>
	<p class="section__results">{{ result[1] }}</p>
    </div>

  </div>
</body>
</html>
